Please use UV inline dependencies.

For example

# /// script
# dependencies = [
#   "requests<3",
#   "rich",
# ]
# ///


Focus only on iOS.

Use iPhone 16 Pro and iOS 18.2 for the tests. THEY EXIST.