# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Environment variables
.env
*.env

# Test artifacts
test_artifacts/

logs/
.pytest_cache/
page_source_logs/
telephone_operator.log
*.env


.venv/
**/.DS_Store